body {
    background-color: lightblue;
}

h1 {
    color: white;
font-size:1.5em;
background-color: aqua;
padding: 25px;
border: 17px solid pink;
margin: 50px 100px 10px 300px;
}

h2 {color: blue;
    background-color: brown;
}
p {
    width: 500px;
    margin: 15px auto;
}
.wider {
    width:700px;
    color: beige;
    line-height: 1.5em;
}
#myname {
    color: black;
    font-family: 'Water Brush', cursive;
}